<ion-view>

	<ion-nav-buttons>
		<div class="buttons">
			<h1 class="title">Create Todo</h1>
		</div>
	</ion-nav-buttons>

	<ion-content>
		<div class="card">
			<div class="list ">
				<label class="item item-input">
					<span class="input-label">Datum</span>
					<input type="date" name="date" ng-model="expense.date" required>
				</label>

				<label class="item item-input ">
					<span class="input-label">Einkauf</span>
					<input type="text" placeholder="Einkauf" name="content" ng-model="expense.content" required>
				</label>

				<label class="item item-input ">
					<span class="input-label">Händler</span>
					<input type="text" placeholder="Händler" name="merchant" ng-model="expense.merchant" required>
				</label>

				<label class="item item-input  item-select">
					<span class="input-label"> Kategorie </span>
					<select name="categories" ng-model="expense.categories" required>
						<option data-ng-repeat="categorie in categories" value="{{categorie}}">{{categorie}}</option>
					</select>
				</label>

				<label class="item item-input ">
					<span class="input-label">Betrag</span>
					<input type="number" placeholder="Betrag" name="amount" ng-model="expense.amount" required>
				</label>


			</div>
		</div>
		<ion-button class="button button-block button-positive" ng-click="create()">
			Add
		</ion-button>
	</ion-content>
</ion-view>
